body{
    background: #f1f1f1;
    height: 100 vh;
    font-family: Arial,Arial, Helvetica, sans-serif;
}

.succes ,.error ,.delete {
    text-align: center;
    color: #fff;
    padding: 5px;
    margin: 5px 0 15px 0;

}
.succes {
    background: green;
}
.error {
    background: red;
}
.delete {
    background: rgb(0, 47, 255);
}
h1{
    text-align: center;
}
label {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
}
input {
    display:block ;
    padding :20px;
    width:40%;
    min-width: 350px;
    margin: 0 auto;
}
.inputs {
    margin: 40px;
}

button {
    background : blue;
    color: white;
    padding: 20px 50px;
    font-size :18px;
    border-radius:20px;
    display:block; 
    margin: 0 auto 50px;
    text-align: center;
}
.boutonsupprimer{
    background: red;
    color: white;
    padding:10px 20px;
    font-size: 18px;
    border-radius:20px;
    display:block; 
    margin: 0 auto 10px;

}

table {
    width: 100%;
}
th {
    width:33%;
}
td {
    text-align: center;
}
